{% extends '::base.html.twig' %}
{% block body -%}
<h1>Comment</h1>

<table class="record_properties">
    <tbody>
        {% for entity in entities %}
        <tr>
            <th>Auction</th>
            <td>{{ entity.auction.title }} </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Buyer</th>
            {% if entity.buyer == 1 %}
            <td> Yes </td>
            {% else %}
            <td> No </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
