{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Postdate</th>
                <td>{{ entity.postDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Questioner</th>
                <td>{{ entity.questioner }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
