{% extends 'base.html.twig' %}

{% block leftMenu %}


{% endblock %}

{% block body %}


  <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query mac-style" placeholder="Search">
                    <button type="submit" class="btn">
                    <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>




    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('parent_category', { 'name': entity.name }) }}">{{ entity.name }}</a></td>
             </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}



