{% extends 'base.html.twig' %}

{% block leftMenu %}
<div class="col-md-2">
</div>
{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'id': 'newAuction'}}) }}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form 'AppBundle:Default:jquery.collection.html.twig' %}

<h2> Create new Auction</h2> </br>
<div class="col-md-6">
	{{ form(form )}}
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/vendor/MyJS/test.js') }}"></script>
{% endblock %}
